/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo para el modo oscuro */
.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}

/* Estilo del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
}

.dark-theme header {
    background-color: #222;
}

/* Estilo del logo */
#logo {
    width: 20%;
}

/* Estilo para los controles del header */
#header-controls {
    display: flex;
    align-items: center;
}

/* Estilo del switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Estilo para el botón de reinicio AP */
#ap-reset {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

/* Estilo para los botones */
button {
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para los botones en modo oscuro */
.dark-theme button {
    background-color: #666;
    color: #f4f4f4;
}

/* Estilo del footer */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}

.dark-theme footer {
    background-color: #222;
}
